/* General Styles */
.portfolio {
  font-family: Arial, sans-serif;
  background-color: #fffbf3;
  min-height: 100vh;
}

.portfolio-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.portfolio-header h1 {
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
}

/* Section Styles */
.portfolio-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -20px;
}

.portfolio-intro{
  margin-top: 50px;
  text-align: center;
}

.portfolio-intro h2 {
  font-size: 3rem;
  color: #007bff;
}